@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Index</h2>
    <input type="text" name="name" id="txt1" value="" />
    <input type="button" name="name1" id="btn1" value="Enter URL">
</div>

<div id="pageContent"></div>

<script>

</script>

